#  https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/main/jupyterhub/values.yaml

- name: Install jupyter repos
  kubernetes.core.helm_repository:
    name: jupyterhub
    repo_url: "https://jupyterhub.github.io/helm-chart/"

#- name: Add Voight.org Certificates
#  kubernetes.core.helm:
#    name: "{{ deployment }}-certificates"
#    chart_ref: ./roles/common/files/global
#    release_namespace: "{{ namespace }}"
#    release_values:
#      namespace: "{{ namespace }}"
#      tls:
#        key: "{{ voightorgkey }}"
#        crt: "{{ voightorgcrt }}"

- name: Add Jupyter Hub
  kubernetes.core.helm:
    name: "{{ deployment }}"
    chart_ref: jupyterhub/jupyterhub
    release_namespace: "{{ namespace }}"
    release_values:
      hub:
        service:
          type: "{{ serviceType }}"
          loadBalancerIP: "{{ serviceLoadBalancerIP }}"
        image:
          tag: "1.1.3"
        db:
          pvc:
            storageClassName: "nfs-nas"
      ingress:
        enabled: true
        hosts: [ jupyter.voight.org]
      singleuser:
        image:
          name: "voight/datascience-notebook"
          tag: "1.2"
        nodeSelector:
          node-role.kubernetes.io/GPU: true

#
#      serviceAccount:
#        name: "{{ serviceAccountName }}"
#      controller:
#        ingressClass: "{{ ingressClass }}"
#        defaultTLSSecret:
#          secret: "{{ defaultTLSSecretSecret }}"
#        affinity: "{{ nodeAffinity }}"
#        service:
#          type: "{{ serviceType }}"
#          loadBalancerIP: "{{ serviceLoadBalancerIP }}"
#      defaultBackend:
#        affinity: "{{ nodeAffinity }}"
#        serviceAccount:
#          create: false
#          name: "{{ serviceAccountName }}"
